@model VendasWebMvc.Models.Departamento

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <h3>
                @Html.DisplayNameFor(model => model.Nome)
            </h3>
          
        </dt>
        <dd>
            <h1>
                @Html.DisplayFor(model => model.Nome)
            </h1>
            
        </dd>
    </dl>
</div>
<div>
    <button>
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> 
    </button>
    
    <a asp-action="Index"> Voltar a lista </a>
</div>
